* {
  font-family: 'Raleway', sans-serif;
}

table, th, td {
  border: 2px solid #000;
  border-collapse: collapse;
  text-align: center;
}

td {
  padding: 0 !important;
}

td:hover {
  background-color: #c00101 !important;
}

td:hover .btn-link.custom {
  color: #fff;
}

h2 {
  text-align: center;
}

.current {
  background-color: #c00101;
}

.current .btn-link.custom {
  color: white;
}

.selected {
  background-color: #c00101;
}

.selected .btn-link.custom {
  color: white;
}

.calendar-day {
  cursor: pointer;
}

.btn-link.custom {
  color: #000
}

.month-year {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px 2px;
  border: 2px solid #000;
}

.prev-month, .next-month {
  background-color: transparent;
  border: none
}